In [ ]:
Enumerate

In [1]:
students = ['Krishna', 'Shivam', 'Geeta', 'Gautam', 'Nirupam', 'Yadvendra', 'Manoj']

In [2]:
for name in enumerate(students):
    print (name)

(0, 'Krishna')
(1, 'Shivam')
(2, 'Geeta')
(3, 'Gautam')
(4, 'Nirupam')
(5, 'Yadvendra')
(6, 'Manoj')

In [7]:
for name in enumerate(students,100):
    print (name)

(100, 'Krishna')
(101, 'Shivam')
(102, 'Geeta')
(103, 'Gautam')
(104, 'Nirupam')
(105, 'Yadvendra')
(106, 'Manoj')

In [9]:
for name in enumerate(students,50):
                      print (name)

(50, 'Krishna')
(51, 'Shivam')
(52, 'Geeta')
(53, 'Gautam')
(54, 'Nirupam')
(55, 'Yadvendra')
(56, 'Manoj')

In [10]:
for name in enumerate(students,20):
                      print (name)

(20, 'Krishna')
(21, 'Shivam')
(22, 'Geeta')
(23, 'Gautam')
(24, 'Nirupam')
(25, 'Yadvendra')
(26, 'Manoj')

In [ ]:
isme kisi bhi no ke sath serial number change kar sakte hai.