In [ ]:
Functions

In [1]:
def Yadav_Hello():
    print ('India is a Big Country')

In [3]:
Yadav_Hello()

India is a Big Country

In [4]:
def greeting(name):
    print ('Hello', name)

In [5]:
greeting('Good Morning')

Hello Good Morning

In [ ]:
Using Return

In [ ]:
Without return function not work def

In [7]:
def salary_increase(fixed_salary,house_rent):
    total_salary = (fixed_salary + house_rent)
    
    if total_salary <= 9000:
        total_salary + 1000
    
    else:
        total_salary

In [10]:
print ('Your New Salary =', salary_increase(6500,2000))

Your New Salary = None

In [ ]:
With return function then work doing working

In [11]:
def salary_increase(fixed_salary,house_rent):
    total_salary = (fixed_salary + house_rent)
    
    if total_salary <= 9000:
        return total_salary + 1000
    
    else:
        return total_salary

In [12]:
print ('Your New Salary =', salary_increase(6500,2000))

Your New Salary = 9500

In [20]:
def salary_increase(fixed_salary,house_rent):
    total_salary = (fixed_salary + house_rent)
    
    if total_salary <= 9000:
        return total_salary + 1000
    
    else:
        return total_salary

In [21]:
print ('Your New Salary =', salary_increase(10500,2000))

Your New Salary = 12500

In [ ]:
Iss rate me 1000 rs nahi add huaa kyoki total amount 9000 se jyada hai.
9000 se kam hone par 1000 add huaa hai.

In [12]:
def used_car_price(Manufacturing_Year,Car_Brand,Kilometer):
    if Manufacturing_Year == 2020:
        if 10000 < Kilometer <= 15000:
            if Car_Brand == 'Honda Amaze':
                print('Rs. 6,50,000 - Rs. 7,50,000')
            elif Car_Brand == 'Maruti Ertiga':
                Print('Rs.6,25,000 - Rs. 6,75,000')
            else:
                print('No Stock right now, please visit after few days')
            
            
        elif 15001 < Kilometer <= 25000:
            if Car_Brand == 'Honda Amaze':
                print('Rs. 6,00,000 - Rs. 6,25,000')
            
            elif Car_Brand == 'Maruti Ertiga':
                print('Rs. 5,75,000 - Rs. 6,00,000')
                
            else:
                print('No Stock right now, please visit after few days')
            
        else:
            print('No stock')
                
    
    
    elif Manufacturing_Year == 2021:
        if 10000 < Kilometer <= 15000:
            if Car_Brand == 'Honda Amaze':
                print('Rs. 7,50,000 - Rs. 8,50,000')
            elif Car_Brand == 'Maruti Ertiga':
                Print ('Rs.7,25,000 - Rs. 7,75,000')
            else:
                print('No Stock right now, please visit after few days')
        
        else:
            print('No Stock right now, please visit after few days')
    else:
        print("Sorry, We donot keep car's older than 2020")

In [13]:
used_car_price(2020,'Honda Amaze',10001)

Rs. 6,50,000 - Rs. 7,50,000

In [14]:
used_car_price(2021,'Honda Amaze',10001)

Rs. 7,50,000 - Rs. 8,50,000

In [15]:
used_car_price(2020,'Maruti Ertiga',15500)

Rs. 5,75,000 - Rs. 6,00,000

In [17]:
used_car_price(2021,'Honda Amaze',11500)

Rs. 7,50,000 - Rs. 8,50,000