In [1]:
location=['Bengaluru','Delhi','Hariyana','Bihar','Punjab']

In [2]:
print (location)

['Bengaluru', 'Delhi', 'Hariyana', 'Bihar', 'Punjab']

In [28]:
for city in location:
    print (city)

Bengaluru
Delhi
Hariyana
Bihar
Punjab

In [ ]:
Loops means again go back again go back

In [23]:
salary=[2000,4000,5000,7000,8000,4500,3800]

In [29]:
for val in salary:
    if val > 5500 :
        print (val)

7000
8000

In [ ]:
While Loop

In [37]:
student_scores = [36,67,78,79,12,34,67,54,89]

for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print ( marks,'- Destinction')
        else:
            print (marks, '- First Class')
    
    elif marks > 50 and marks <= 60:
        print (marks,'- Second Class')
    
    elif marks >= 35:
        print (marks, '- Pass')
    
    else :
        print (marks, '- Fail - Better luck in next time')

36 - Pass
67 - First Class
78 - Destinction
79 - Destinction
12 - Fail - Better luck in next time
34 - Fail - Better luck in next time
67 - First Class
54 - Second Class
89 - Destinction

In [ ]:
List comprehension

In [1]:
salary = [2000,4000,5000,7000,8000,1500,3800]

In [2]:
sal = [val for val in salary if val > 5500]

In [3]:
sal

[7000, 8000]

In [11]:
for num in range (2,5) :
    print ('Multification table for - ', num)
    for i in range(1,11):
        print (num * i)
        if i == 10:
            print ('\n')

else:
    print ('*' * 30)
    print ('End of multiplication table')
    print ('*' * 30)

Multification table for -  2
2
4
6
8
10
12
14
16
18
20


Multification table for -  3
3
6
9
12
15
18
21
24
27
30


Multification table for -  4
4
8
12
16
20
24
28
32
36
40


******************************
End of multiplication table
******************************

In [ ]:
While loop

In [16]:
i = 0

while i < 10:
    i = i + 1
    print (i, 'Data Trained')

1 Data Trained
2 Data Trained
3 Data Trained
4 Data Trained
5 Data Trained
6 Data Trained
7 Data Trained
8 Data Trained
9 Data Trained
10 Data Trained

In [17]:
i = 0

while i < 101:
    i = i + 1
    print (i, 'Data Trained')

1 Data Trained
2 Data Trained
3 Data Trained
4 Data Trained
5 Data Trained
6 Data Trained
7 Data Trained
8 Data Trained
9 Data Trained
10 Data Trained
11 Data Trained
12 Data Trained
13 Data Trained
14 Data Trained
15 Data Trained
16 Data Trained
17 Data Trained
18 Data Trained
19 Data Trained
20 Data Trained
21 Data Trained
22 Data Trained
23 Data Trained
24 Data Trained
25 Data Trained
26 Data Trained
27 Data Trained
28 Data Trained
29 Data Trained
30 Data Trained
31 Data Trained
32 Data Trained
33 Data Trained
34 Data Trained
35 Data Trained
36 Data Trained
37 Data Trained
38 Data Trained
39 Data Trained
40 Data Trained
41 Data Trained
42 Data Trained
43 Data Trained
44 Data Trained
45 Data Trained
46 Data Trained
47 Data Trained
48 Data Trained
49 Data Trained
50 Data Trained
51 Data Trained
52 Data Trained
53 Data Trained
54 Data Trained
55 Data Trained
56 Data Trained
57 Data Trained
58 Data Trained
59 Data Trained
60 Data Trained
61 Data Trained
62 Data Trained
63 Data Trained
64 Data Trained
65 Data Trained
66 Data Trained
67 Data Trained
68 Data Trained
69 Data Trained
70 Data Trained
71 Data Trained
72 Data Trained
73 Data Trained
74 Data Trained
75 Data Trained
76 Data Trained
77 Data Trained
78 Data Trained
79 Data Trained
80 Data Trained
81 Data Trained
82 Data Trained
83 Data Trained
84 Data Trained
85 Data Trained
86 Data Trained
87 Data Trained
88 Data Trained
89 Data Trained
90 Data Trained
91 Data Trained
92 Data Trained
93 Data Trained
94 Data Trained
95 Data Trained
96 Data Trained
97 Data Trained
98 Data Trained
99 Data Trained
100 Data Trained
101 Data Trained

In [18]:
import time
result = time.localtime()
print (result)

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=9, tm_hour=0, tm_min=24, tm_sec=1, tm_wday=2, tm_yday=313, tm_isdst=0)

In [21]:
while True:
    result = time.localtime()
    if result.tm_hour == 0 and result.tm_min== 32:
        print ('Wake Up call')
        break

Wake Up call

In [22]:
while True:
    result = time.localtime()
    if result.tm_hour == 0 and result.tm_min== 40:
        print ('Wake Up call')
        break

Wake Up call

In [24]:
while True:
    result = time.localtime()
    if result.tm_hour == 0 and result.tm_min== 41:
        print ('Wake Up call')
        break

Wake Up call