In [1]:
import sqlite3

db = sqlite3.connect("student_database.db")

In [2]:
cursor = db.cursor()

In [3]:
cursor.execute("CREATE TABLE student_data(phone_number INT PRIMARY KEY, email_id TEXT, course_namr TEXT, fee_paid INT)")

OperationalError: table student_data already exists

In [4]:
cursor.execute("INSERT INTO student_data(phone_number, email_id, course_name, fee_paid) VALUES (9089888200, 'yadvendrakr.roy55@yahoo.in', 'Data Science', 30000 )")

db.commit()

print (cursor.rowcount," Record(s) inserted")

1  Record(s) inserted

In [ ]:
SELECT query - How to fetch records from the table

In [6]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:
    print(row)

(9089888200, 'yadvendrakr.roy55@yahoo.in', 'Data Science', 30000)

In [ ]:
Multiple records insertion

In [9]:
cursor.execute("INSERT INTO student_data VALUES (9089888201, 'yadvendrakr.roy56@yahoo.in','Data Science',25000),(9089888202,'yadvendrakr.roy57@yahoo.in','Data Science',20000)")

db.commit()

print (cursor.rowcount," Record(s) inserted")

2  Record(s) inserted

In [10]:
cursor.execute("INSERT INTO student_data VALUES (9089888203, 'yadvendrakr.roy58@yahoo.in','Data Science',25000),(9089888204,'yadvendrakr.roy59@yahoo.in','Data Science',20000)")

db.commit()

print (cursor.rowcount," Record(s) inserted")

2  Record(s) inserted

In [11]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:
    print(row)

(9089888200, 'yadvendrakr.roy55@yahoo.in', 'Data Science', 30000)
(9089888201, 'yadvendrakr.roy56@yahoo.in', 'Data Science', 25000)
(9089888202, 'yadvendrakr.roy57@yahoo.in', 'Data Science', 20000)
(9089888203, 'yadvendrakr.roy58@yahoo.in', 'Data Science', 25000)
(9089888204, 'yadvendrakr.roy59@yahoo.in', 'Data Science', 20000)

In [ ]:
How to load data from file into table

In [32]:
with open('DT_Students.csv','r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO student_data VALUE (?,?,?,?)",row.split(","))
        db.commit()
        no_records +=1
        
print (no_records, 'Records Inserted')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\DT_Students.csv'