In [5]:
l = ['a','b','c']

In [6]:
l

['a', 'b', 'c']

In [8]:
l2 = list(l)

In [9]:
l2

['a', 'b', 'c']

In [10]:
marks = [35,45,60,80,100]

In [11]:
marks

[35, 45, 60, 80, 100]

In [12]:
copy_marks = marks.copy()

In [13]:
copy_marks

[35, 45, 60, 80, 100]

In [14]:
list ('shanker')

['s', 'h', 'a', 'n', 'k', 'e', 'r']

In [ ]:
append

In [15]:
employee=[]

In [17]:
employee.append('Radha')

In [18]:
print (employee)

['Radha']

In [ ]:
Add more name person

In [19]:
employee.append('Ramesh')
employee.append('Salman')
employee.append('Krishna')

In [20]:
print (employee)

['Radha', 'Ramesh', 'Salman', 'Krishna']

In [ ]:
Index & insert

In [22]:
employee.insert(2,('Shiv'))

In [23]:
print (employee)

['Radha', 'Ramesh', 'Shiv', 'Salman', 'Krishna']

In [24]:
employee.insert(5,('Yadvendra'))

In [25]:
print (employee)

['Radha', 'Ramesh', 'Shiv', 'Salman', 'Krishna', 'Yadvendra']

In [27]:
emp_salary = [15000,20000,25000,25000,28000,]

In [28]:
print (emp_salary)

[15000, 20000, 25000, 25000, 28000]

In [29]:
emp_salary.insert(2,22000)

In [30]:
print (emp_salary)

[15000, 20000, 22000, 25000, 25000, 28000]

In [33]:
len (employee)

6

In [ ]:
Index and slicing that mean change employee name against Old one Name for example :: Ramesh ke Jagah Remo and Salman ke jagah Gaurav

In [34]:
employee[1] ='Remo'

In [35]:
print (employee)

['Radha', 'Remo', 'Shiv', 'Salman', 'Krishna', 'Yadvendra']

In [38]:
employee[3] = 'Gaurav'

In [39]:
print (employee)

['Radha', 'Remo', 'Shiv', 'Gaurav', 'Krishna', 'Yadvendra']

In [ ]:
Vaise hi salary change kar sakte for example ; 22500 ko 24000 or 25000 ko 26500

In [40]:
emp_salary[2] = 24000

In [42]:
print (emp_salary)

[15000, 20000, 24000, 25000, 25000, 28000]

In [43]:
emp_salary[4] = 26500

In [44]:
print (emp_salary)

[15000, 20000, 24000, 25000, 26500, 28000]

In [ ]:
For Index check

In [45]:
emp_salary[1:]

[20000, 24000, 25000, 26500, 28000]

In [46]:
emp_salary[:6]

[15000, 20000, 24000, 25000, 26500, 28000]

In [47]:
emp_salary[:5]

[15000, 20000, 24000, 25000, 26500]

In [ ]:
Index 5 is not show because last index is 5 isliye except 5 ke niche sare item dikhai denge

In [48]:
emp_salary[2:6]

[24000, 25000, 26500, 28000]

In [49]:
emp_salary[2:5]

[24000, 25000, 26500]

In [58]:
employee_salary = [[15000, 20000, 24000, 25000, 26500, 28000]]

In [68]:
employee_salary = employee_salary +['30000']

In [66]:
employee = employee + ['Mithun']

In [67]:
print (employee)

['Radha', 'Remo', 'Shiv', 'Gaurav', 'Krishna', 'Yadvendra', 'Mithun', 'Mithun']

In [69]:
print (employee_salary)

[[15000, 20000, 24000, 25000, 26500, 28000], 30000, 30000, '30000']

In [72]:
print ('*' * 90)
print ('Data Trained Education Private Limited')
print ('*' * 90)
print

******************************************************************************************
Data Trained Education Private Limited
******************************************************************************************

In [73]:
print ('@#' * 110)
print ('WELCOME INDIAN FOR DATA TRAINED COURSE')
print ('@#' * 110)

@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#
WELCOME INDIAN FOR DATA TRAINED COURSE
@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#

In [74]:
print ('$' * 10, '=' * 20)

$$$$$$$$$$ ====================

In [75]:
print ('#' * 100)
print ('END TODAY CLASS' )
print ('#' * 100)

####################################################################################################
END TODAY CLASS
####################################################################################################