In [ ]:
Break & Continued

In [7]:
city = ['Patna', 'Delhi', 'Punjab', 'Gujrat', 'Bhopal', 'Hariyana', 'Madras']

for val in city:
    if val == "Hariyana":
        break
    print(val)

Patna
Delhi
Punjab
Gujrat
Bhopal

In [15]:
salary = [20000, 22000, 25000, 15000, 12000, 8000, 7500, 8000]

for val in salary:
    if val > 25000:
        break
    print (val)

20000
22000
25000
15000
12000
8000
7500
8000

In [19]:
salary = [20000, 22000, 25000, 15000, 12000, 8000, 7500, 8000]

for val in salary:
    if val < 20000:
        break
    print (val)

20000
22000
25000

In [21]:
salary = [20000, 22000, 25000, 15000, 12000, 8000, 7500, 8000]

for val in salary:
    if val == 8000:
        break
    print (val)

20000
22000
25000
15000
12000

In [ ]:
Continue

In [22]:
city = ['Patna', 'Delhi', 'Punjab', 'Gujrat', 'Bhopal', 'Hariyana', 'Madras']

for val in city:
    if val == "Hariyana":
        continue
    print(val)

Patna
Delhi
Punjab
Gujrat
Bhopal
Madras

In [ ]:
Except on "Hariyana"

In [23]:
salary = [20000, 22000, 25000, 15000, 12000, 8000, 7500, 8000]

for val in salary:
    if val > 15000:
        continue
    print (val)

15000
12000
8000
7500
8000

In [24]:
salary = [20000, 22000, 25000, 15000, 12000, 8000, 7500, 8000]

for val in salary:
    if val < 15000:
        continue
    print (val)

20000
22000
25000
15000

In [25]:
salary = [20000, 22000, 25000, 15000, 12000, 8000, 7500, 8000]

for val in salary:
    if val == 15000:
        continue
    print (val)

20000
22000
25000
12000
8000
7500
8000